body{
    background-color: #f4f6f8; 
}
.black{
    font-family: cursive;
    color: black;
    font-size: 30px;
    text-align: center;
}
.red{
    font-family: cursive;
    color: red;
    font-size: 30px;
    text-align: center;
}
body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}


.log{
width:80%;
background-color:white;
margin-left:auto;
margin-right:auto;
padding:20px;
max-width:500px;
}
h1 {
font-size: 40px;
margin-top: 0;
margin-bottom: 15px;
font-family: cursive;
text-align: center;
color: #ff0000;

}

.form{
  text-align: center;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size:20px;
  
  }
/* .button{ 
background-color: #ff0000;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: none;
color: black;
border: 2px solid black;
border-radius: 4px;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;

}*/
.button {
  background-color: #ff0000; 
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-family: cursive;

}
